<section class="skills-section box-shadow">
    <h2 class="skills-section_title">My toolkit</h2>
    <div class="skills-section_content">
        <p>With a robust foundation in both front-end and back-end development, I leverage a diverse array of programming languages and frameworks to build dynamic, efficient, and scalable web applications.</p>
        <p>The tools that bring my ideas to life:</p>
    </div>
    <ul class="skills-section_skill-list">
        {% for skill in skills %}
            {% if skill.is_for_skills_section %}
                {% include "portfolio/partials/skill/skill-detail.html" %}
            {% endif %}
        {% endfor %}
    </ul>
</section>