<section class="skills-section box-shadow">
    <h2 class="skills-section_title">My Toolkit</h2>
    <p class="skills-section_description">With a robust foundation in both front-end and back-end development, I leverage a diverse array of programming languages and frameworks to build dynamic, efficient, and scalable web applications.</p>
    <p class="skills-section_description">The tools that bring my ideas to life:</p>
    <ul class="skills-section_skill-list">
        {% for skill in skills %}
            {% include "portfolio/partials/skill/skill-detail.html" %}
        {% endfor %}
    </ul>
</section>