{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A responsive web application">
    <title>{% block title %}Jake Godsall{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}" />

    <!-- Favicons -->
<!--    <link rel="icon" href="{% static 'portfolio/svgs/favicon-black.svg' %}" type="image/svg+xml" />-->
<!--    <link rel="icon" href="{% static 'portfolio/svgs/favicon-white.svg' %}" type="image/svg+xml" media="(prefers-color-scheme: dark)" />-->

    <!-- Extra Head -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        {% include "portfolio/partials/header/header.html" %}
        <main class="container">
            {% block content %} {% endblock %}
        </main>
        {% include "portfolio/partials/footer/footer.html" %}
    </div>
<script src="{% static 'portfolio/js/script.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
