.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
  gap: 2rem;
}

.confirmation_title {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--primary-orange);
}

.confirmation_content {
  text-align: center;
  color: var(--secondary-text);
}