.contact-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 90%;
}

.contact-section_title.title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 680px) {
  .contact-section {
    max-width: 630px;
  }
}