.hero {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    height: 80vh;

    background-image:
        linear-gradient(to bottom, rgb(3, 9, 21) 0%, rgb(2, 18, 67) 20%, transparent 80%);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_content {
    max-width: 600px;
	line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

.hero_buttons {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero_title {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 2.6rem;

}

.hero p {
    color: var(--secondary-text);
    font-weight: 200;
    font-size: 1.2em;
    margin: 0 0 20px;
}

@media screen and (min-width: 900px) {
    .hero-content > h1 {
        font-size: 3rem;
    }

    .hero-content > p {
        font-size: 1.3rem;
        margin-bottom: 4rem;
    }

    .hero_buttons {
        flex-direction: row;
        width: 80%;
    }
}

