.hero {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    padding: 0 20px;
}

.hero-content {
    max-width: 600px;
	line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero h1 {
    margin: 0 0 20px;
}

.hero p {
    color: var(--secondary-text);
    font-weight: 200;
    font-size: 1.2em;
    margin: 0 0 20px;
}

@media screen and (min-width: 900px) {
    .hero-content > h1 {
        font-size: 3rem;
    }

    .hero-content > p {
        font-size: 1.3rem;
        margin-bottom: 4rem;
    }

    .hero_buttons {
        flex-direction: row;
        width: 80%;
    }
}

