.skills-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--secondary-dark-blue);
	border: 1px solid var(--secondary-blue);
	padding: 2rem;
	margin: 0 0.4rem 3rem;
	border-radius: 1rem;
	z-index: 1;

	background:
        linear-gradient(to bottom, rgb(3, 9, 21) 0%, rgb(2, 18, 67) 40%, transparent 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.skills-section_title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.skills-section_content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 2rem;
	line-height: 1.5;
}

.skills-section_content > p {
	color: var(--secondary-text);
	font-weight: 300;
}

.skills-section_skill-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 1.5rem;
	row-gap: 3rem;
}

@media screen and (min-width: 650px) {
	.skills-section {
		max-width: 630px;
	}
}