.skills-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 1px solid var(--secondary-blue);
	padding: 2rem;
	margin: 0 0.4rem 8rem;
	border-radius: 1rem;

	background:
        linear-gradient(to bottom, rgb(3, 9, 21) 0%, rgb(2, 18, 67) 40%, transparent 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.skills-section_title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.skills-section_description {
	margin-bottom: 2rem;
	font-weight: 200;
	line-height: 1.5;
	font-size: 1rem;
	color: var(--secondary-text);
}

.skills-section_description:last-of-type {
	margin-bottom: 4.2rem;
}

.skills-section_skill-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 1.5rem;
	row-gap: 3rem;
}

@media screen and (min-width: 650px) {
	.skills-section {
		max-width: 700px;
		margin: 2rem 2rem 8rem;
		text-align: left;

		display: grid;
		row-gap: 1.6rem;
		column-gap: 4rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
        "item1 item2"
        "item4 item3";
	}

	.skills-section_title {
		grid-area: item1;
		margin-bottom: 0;
		font-size: 2.6rem;
	}

	.skills-section_description:first-of-type {
		grid-area: item4;
		align-self: start;
	}

	.skills-section_description:last-of-type {
		grid-area: item2;
		margin-bottom: 0;
		align-self: end;
	}

	.skills-section_skill-list {
		grid-area: item3;
		align-self: start;
		column-gap: 0.8rem;
		row-gap: 1rem;
		justify-content: flex-start;
	}

	.skills-section_content {
		font-size: 1.2rem;
	}
}