# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
.idea/

# Python
.venv/

# Django:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
mediafiles/

# Node
node_modules/

# Project Files
.env
project-files/