anki==24.6.3
asgiref==3.8.1
beautifulsoup4==4.12.3
boto3==1.35.8
botocore==1.35.8
certifi==2024.8.30
charset-normalizer==3.3.2
decorator==5.1.1
distro==1.9.0
dj-database-url==2.2.0
Django==5.0.7
django-storages==1.14.4
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
Markdown==3.7
orjson==3.10.7
packaging==24.1
pillow==10.4.0
protobuf==5.28.2
psycopg2-binary==2.9.9
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.2
setuptools==72.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.44.0
whitenoise==6.7.0
