.form {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.contact-form_group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contact-form_group .form-control {
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	outline: none;
	border-radius: 0.5rem;
	border: none;
}

#id_message {
	padding: 1rem;
	font-family: inherit;
}

.contact-form_container .btn-primary {
    display: block;
    width: 100%;
	background-color: var(--dark-blue);
	border: none;
}

.error-message {
	color: red;
	font-size: 0.9em;
	overflow: hidden;
	height: 0;
	padding: 0;
    transition: height 0.5s ease;
}

.error-message.active {
    height: 2rem;
}

.is-invalid {
	border-color: red;
}