.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  border: 1px solid var(--secondary-blue);
  background-color: var(--secondary-dark-blue);
  border-radius: 0.6rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  border-radius: 4px;
  color: var(--primary-blue);
}

@media screen and (min-width: 600px) {
  .navbar {
    max-width: 368px;
  }
}

