.socials-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	align-self: center;
	padding: 0.6rem 1rem;
	border-radius: 0.4rem;

	border: 1px solid var(--secondary-blue);
}

.icon-gmail, .icon-linkedin, .icon-frontendmentor {
	width: 30px;
	height: 30px;
}

.icon-github {
	width: 24px;
	height: 24px;
}

@media screen and (min-width: 900px) {
	.icon-gmail, .icon-linkedin, .icon-frontendmentor {
		width: 45px;
		height: 45px;
	}

	.icon-github {
	width: 36px;
	height: 36px;
}
}