{% load static %}

<ul class="socials-bar">
        <li>
        <a href="mailto:jake.edward.godsall@gmail.com">
            <img
                src="{% static 'portfolio/svgs/gmail.svg' %}"
                alt="gmail"
                width="24"
                height="24"
            />
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/godsalljake/">
            <img
                src="{% static 'portfolio/svgs/linkedin.svg' %}"
                alt="linkedin"
                width="30"
                height="30"
            />
        </a>
    </li>
    <li>
        <a href="https://github.com/jakegodsall">
            <img
                src="{% static 'portfolio/svgs/github.svg' %}"
                alt="github"
                width="24"
                height="24"
            />
        </a>
    </li>
    <li>
        <a href="https://www.frontendmentor.io/profile/jakegodsall">
            <img
                src="{% static 'portfolio/svgs/fm.svg' %}"
                alt="github"
                width="24"
                height="24"
            />
        </a>
    </li>
</ul>