<section class="aboutme-section" id="aboutme">
    <h2 class="aboutme-section_title title">About Me</h2>
    <p class="aboutme-section_content">I'm a passionate software developer with a focus on crafting clean, responsive web applications. I love turning complex problems into simple, intuitive solutions, whether it's front-end or back-end development. With a knack for learning new technologies, I'm always exploring the latest in web development to build efficient, user-friendly experiences.</p>
</section>