.contact-form {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	margin-bottom: 3rem;
}

.contact-form_group {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.contact-form_group label {
	font-size: 0.9rem;
	color: var(--secondary-text);
}

.contact-form_group .form-control {
	padding: 0.7rem 1rem;
	outline: none;
	border-radius: 1rem;
	border: 2px solid var(--primary-grey);
	background-color: inherit;
}

#id_message {
	padding: 1rem;
	font-family: inherit;
}

.contact-form_container .btn-primary {
    display: block;
    width: 100%;
	background-color: var(--dark-blue);
	border: none;
}

.error-message {
	color: var(--primary-orange);
	font-size: 0.9em;
	overflow: hidden;
	height: 0;
	padding: 0;
    transition: height 0.5s ease;
}

.error-message.active {
    height: 2.4rem;
}

.is-invalid {
	border-color: var(--primary-orange);
}

// Stop iPhone from zooming when focusing on inputs
input, select, textarea {
    font-size: 16px;
}