.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.6rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  border-radius: 4px;
}