.project-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 450px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

	padding: 1rem;
	border: 1px solid var(--secondary-blue);
    background-color: var(--secondary-dark-blue);
}


.project-detail_image-container {
	width: 100%;
	border-radius: 0.8rem;
	overflow: hidden;
}

.project-detail_image-container img {
    display: block;
	object-fit: cover;
	width: 100%;
}

.project-detail_content {
	width: 100%;
	align-items: center;
  	display: flex;
  	justify-content: space-between;
	margin: 1rem 0 0.4rem;
}

.project-detail_title {
    color: var(--primary-colour);
    font-weight: 600;
	font-size: 1.3em;
	text-align: left;
}

.project-detail_buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.icon {
    fill: var(--primary-blue);
    transition: fill 0.3s ease; /* Smooth transition */
}

.icon:hover {
    fill: var(--primary-text);
}

.project-detail_description {
	color: var(--secondary-text);
	align-self: flex-start;
	text-align: left;
	font-weight: 200;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.project-detail_skills-section {
}

.skills-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.skill-item img {
	width: 24px;
	height: 24px;
}

.skill-item p {
	font-size: 0.8rem;
}

@media screen and (min-width: 680px) {
	.project-detail {
		width: 100%;
	}
}

