.project-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 450px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    background-color: var(--primary-grey);
    border-radius: 20px;
}


.project-detail_image-container {
    position: relative;
	width: 100%;
}

.project-detail_image-container img {
    position: relative;
	width: 435px;
	height: 250px;
    display: block;
	object-fit: cover;
	z-index: 10;
}

.project-detail_content {
	width: 100%;
	align-items: center;
  	display: flex;
  	justify-content: space-between;
	padding: 1rem;
}

.project-detail_title {
    color: var(--primary-colour);
    font-weight: 500;
	font-size: 1rem;
	text-align: left;
}

.project-detail_buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.project-detail_skills-section {
	padding: 2rem 1rem;
}

.skills-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0 1rem 1rem;
}

.skill-item {
	display: flex;
	align-items: center;
}

.skill-item img {
	width: 24px;
	height: 24px;
}

.skill-item p {
	font-size: 0.8rem;
}

@media screen and (min-width: 680px) {

}