{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A responsive web application">
    <title>Jake Godsall</title>
    <link href="{% static 'portfolio/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    {% include "portfolio/partials/header.html" %}
    <main class="container">
<!--        {% include "portfolio/partials/hero.html" %}-->
        {% include "portfolio/partials/skill-section.html" %}
        {% include "portfolio/partials/project-section.html" %}
    </main>
<!--    {% include "portfolio/partials/footer.html" %}-->
<script src="{% static 'portfolio/js/script.js' %}"></script>
</body>
</html>
