@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  color: var(--black);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-dark-blue);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: var(--primary-text);
}

:root {
  --primary-text: #fff;
  --secondary-text: #C5C5C5;
  --primary-blue: #4d5eac;
  --secondary-blue: #272c50;
  --primary-grey: #2A2A2A;
  --primary-dark-blue: #161A31;
  --secondary-dark-blue: #030915;
  --error: #c60f0f ;
}

.btn {
  display: inline-block;
  padding: 1rem 1.6rem;
  background: linear-gradient(to right, var(--primary-dark-blue) 5%, var(--secondary-dark-blue) 95%);
  color: var(--background-color);
  text-decoration: none;
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.3s, color 0.3s;
  border: 1px solid var(--secondary-blue);
  width: 100%;
  text-align: center;
}

.btn:hover {
  letter-spacing: 0.05em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 3rem;
}

.contact-form_group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-form_group label {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.contact-form_group .form-control {
  width: 100%;
  padding: 0.7rem 1rem;
  outline: none;
  border-radius: 1rem;
  border: 2px solid var(--secondary-blue);
  background-color: inherit;
}

.contact-form_group .form-control::placeholder {
  color: transparent;
}

.contact-form button {
  cursor: pointer;
}

#id_message {
  padding: 1rem;
  font-family: inherit;
}

.contact-form_container .btn-primary {
  display: block;
  width: 100%;
  background-color: var(--dark-blue);
  border: none;
}

.error-message {
  color: var(--error);
  font-size: 0.9em;
  line-height: 1.3;
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: height 0.5s ease;
}

.error-message.active {
  height: 2.4rem;
}

.is-invalid {
  border-color: var(--primary-colour);
}

input, select, textarea {
  font-size: 16px;
}

.contact-form_button-section :last-child {
  display: none;
}

@media screen and (min-width: 680px) {
  .contact-form {
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 0;
  }
  .contact-form label {
    display: none;
  }
  .contact-form_group .form-control::placeholder {
    color: var(--primary-blue);
  }
  .contact-form_col1,
  .contact-form_col2 {
    flex: 1;
  }
  .contact-form_group #id_message {
    height: 100px;
  }
  .contact-form_button-section {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .contact-form_button-section :first-child {
    flex: 1;
  }
  .contact-form_button-section :last-child {
    flex: 2;
  }
  .contact-form_button-section :last-child {
    display: flex;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
}
.error_title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 9px;
}
.error_content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}
.error_button-div {
  max-width: 115px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 30;
  gap: 0.5rem;
}

.hamburger div {
  width: 2rem;
  height: 3px;
  background-color: var(--primary-colour);
  transition: all 0.3s ease-in-out;
}

.hamburger.active div:first-child {
  transform: translateY(0.5rem) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:last-child {
  transform: translateY(-0.8rem) rotate(135deg);
}

.mobile-menu {
  visibility: hidden;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.mobile-menu.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu_modal {
  width: 70%;
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 0;
  bottom: 0;
  padding: 10rem 3rem;
  transform: translateX(110%);
  transition: transform 0.5s ease;
}

.mobile-menu.active .mobile-menu_modal {
  transform: translateX(0);
}

.mobile-menu_modal ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  border: 1px solid var(--secondary-blue);
  background-color: var(--secondary-dark-blue);
  border-radius: 0.6rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  border-radius: 4px;
  color: var(--primary-blue);
}

@media screen and (min-width: 600px) {
  .navbar {
    max-width: 368px;
  }
}
.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid var(--secondary-blue);
  background-color: var(--secondary-dark-blue);
}

.project-detail_image-container {
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}

.project-detail_image-container img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.project-detail_content {
  width: 100%;
}

.project-detail_top-bar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0.4rem;
}

.project-detail_title {
  color: var(--primary-colour);
  font-weight: 600;
  font-size: 1.3em;
  text-align: left;
}

.project-detail_buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  fill: var(--primary-blue);
  transition: fill 0.3s ease; /* Smooth transition */
}

.icon:hover {
  fill: var(--primary-text);
}

.project-detail_description {
  color: var(--secondary-text);
  align-self: flex-start;
  text-align: left;
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.skill-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-item img {
  width: 24px;
  height: 24px;
}

.skill-item p {
  font-size: 0.8rem;
}

.project-detail_extended-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  margin-top: 20px;
  grid-column: span 2;
  font-weight: 200;
  line-height: 1.2;
  color: var(--secondary-text);
  transition: all 0.5s ease-in-out;
}

.project-detail_extended-content.open {
  max-height: 1000px;
  padding-bottom: 16px;
}

@media screen and (min-width: 680px) {
  .project-detail {
    padding-bottom: 0;
  }
  .project-detail_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text-column image-column";
    gap: 1rem;
  }
  .project-section_list li:nth-child(odd) .project-detail_content {
    grid-area: text-column;
  }
  .project-section_list li:nth-child(even) .project-detail_content {
    grid-area: image-column;
  }
  .project-section_list li:nth-child(odd) .project-detail_image-container {
    grid-area: image-column;
  }
  .project-section_list li:nth-child(even) .project-detail_image-container {
    grid-area: text-column;
  }
  .project-detail_content {
    align-self: start;
    padding-right: 1rem;
    font-size: 18px;
  }
  .project-detail_top-bar {
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .project-detail_image-container {
    height: 100%;
  }
  .project-detail_image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-detail_content::-webkit-scrollbar {
    width: 8px;
    transition: all 0.3s ease-in-out;
  }
  .project-detail_content::-webkit-scrollbar-track {
    border-radius: 100px;
    background: var(--primary-dark-blue);
  }
  .project-detail_content::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 10px;
    cursor: pointer;
  }
  .project-detail_content::-webkit-scrollbar-thumb:hover {
    background: #697bcf;
  }
  .skill-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-detail_extended-content {
    font-size: 18px;
  }
  .caret-toggle {
    display: block;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .caret-toggle.active {
    transform: rotate(180deg);
  }
}
.skill-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.skill-detail_svg {
  width: 50px;
  height: 50px;
}

.skill-detail_name {
  font-size: 1.1rem;
  font-weight: 500;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 600px) {
  .skill-detail_svg {
    width: 30px;
    height: 30px;
  }
  .skill-detail_name {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 950px) {
  .skill-detail_svg {
    width: 75px;
    height: 75px;
  }
}
.socials-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: center;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--secondary-blue);
}

.aboutme-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-grey);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.aboutme-section_title {
  color: var(--primary-colour);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.aboutme-section_content {
  line-height: 1.5;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
  gap: 2rem;
}

.confirmation_title {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--primary-colour);
}

.confirmation_content {
  text-align: center;
  line-height: 1.5;
  font-size: 1.3rem;
  color: var(--secondary-text);
}

.confirmation_button-div {
  width: 220px;
}

.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 100%;
}

.contact-section_title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-section_description {
  margin-bottom: 2rem;
}

@media screen and (min-width: 680px) {
  .contact-section {
    max-width: 700px;
    margin-bottom: 2rem;
  }
  .contact-section_title {
    font-size: 36px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 600px) {
  .header {
    padding-top: 3.6rem;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  height: 80vh;
  max-height: 1000px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(3, 9, 21) 0%, rgb(2, 18, 67) 20%, transparent 80%);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_content {
  max-width: 600px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.hero_title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 2.6rem;
}

.hero_description {
  color: var(--secondary-text);
  font-weight: 200;
  font-size: 1.2em;
  margin-bottom: 1.6rem;
}

.hero_buttons {
  width: 70%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 640px) {
  .hero {
    height: auto;
    justify-content: flex-start;
    padding-top: 16rem;
    padding-bottom: 6rem;
  }
  .hero_content {
    max-width: 700px;
  }
  .hero_title {
    font-size: 3.6rem;
  }
  .hero_description {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .hero_buttons {
    flex-direction: row;
    max-width: none;
  }
}
@media screen and (min-width: 900px) {
  .hero_content {
    max-width: 1200px;
  }
  .hero_title {
    font-size: 64px;
  }
  .hero_description {
    font-size: 32px;
    margin-bottom: 4rem;
  }
  .hero_buttons {
    flex-direction: row;
    width: 80%;
  }
}
.project-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 8rem;
  background-color: var(--secondary-dark-blue);
}

.project-section_title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding-inline: 2rem;
}

.project-section_content {
  margin-bottom: 2rem;
  line-height: 1.5;
  max-width: 450px;
  color: var(--secondary-text);
  font-weight: 300;
  padding-inline: 2rem;
}

.project-section_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-inline: 0.4rem;
}

.project-section_list > li {
  width: 100%;
}

@media screen and (min-width: 680px) {
  .project-section {
    max-width: 700px;
    align-items: flex-start;
    text-align: left;
  }
  .project-section_title {
    font-size: 36px;
    font-weight: bold;
  }
  .project-section_content {
    font-size: 18px;
    font-weight: 300;
    max-width: none;
  }
  .project-section_list {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .project-section_list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem 2rem;
  }
  .project-section_list > li {
    display: flex;
  }
}
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid var(--secondary-blue);
  padding: 2rem;
  margin: 0 0.4rem 8rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom, rgb(3, 9, 21) 0%, rgb(2, 18, 67) 40%, transparent 90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.skills-section_title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.skills-section_description {
  margin-bottom: 2rem;
  font-weight: 200;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--secondary-text);
}

.skills-section_description:last-of-type {
  margin-bottom: 4.2rem;
}

.skills-section_skill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 3rem;
}

@media screen and (min-width: 650px) {
  .skills-section {
    max-width: 700px;
    margin-top: 2rem;
    margin-bottom: 8rem;
    text-align: left;
    display: grid;
    row-gap: 1.6rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "item1 item2" "item4 item3";
  }
  .skills-section_title {
    grid-area: item1;
    margin-bottom: 0;
    font-size: 36px;
  }
  .skills-section_description {
    font-size: 18px;
  }
  .skills-section_description:first-of-type {
    grid-area: item4;
    align-self: start;
    margin-bottom: 0;
  }
  .skills-section_description:last-of-type {
    grid-area: item2;
    align-self: end;
    margin-bottom: 0;
  }
  .skills-section_skill-list {
    grid-area: item3;
    align-self: start;
    column-gap: 0.8rem;
    row-gap: 1rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 950px) {
  .skills-section {
    background: none;
    border: none;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-section_title {
    align-self: flex-start;
    font-size: 48px;
  }
  .skills-section_description {
    font-size: 24px;
  }
  .skills-section_description:last-of-type {
    align-self: flex-start;
    margin-bottom: 75px;
  }
  .skills-section_skill-list {
    width: 100%;
    max-width: 850px;
    align-self: center;
    justify-content: space-between;
    flex-wrap: true;
  }
}

/*# sourceMappingURL=styles.css.map */
