@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  color: var(--black);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: var(--primary-text);
}

:root {
  --primary-text: #fff;
  --secondary-text: #C5C5C5;
  --primary-orange: #fa741b;
  --secondary-orange: #fdc096;
  --primary-grey: #2A2A2A;
  --background-color: #191919;
}

.btn {
  width: 100%;
  display: inline-block;
  padding: 1rem 1.6rem;
  background-color: var(--primary-orange);
  color: var(--background-color);
  text-decoration: none;
  border-radius: 10px;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--secondary-orange);
  color: var(--primary-orange);
}

.btn-inverse {
  color: var(--primary-orange);
  background-color: inherit;
  border: 2px solid var(--primary-orange);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 3rem;
}

.contact-form_group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-form_group label {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.contact-form_group .form-control {
  padding: 0.7rem 1rem;
  outline: none;
  border-radius: 1rem;
  border: 2px solid var(--primary-grey);
  background-color: inherit;
}

#id_message {
  padding: 1rem;
  font-family: inherit;
}

.contact-form_container .btn-primary {
  display: block;
  width: 100%;
  background-color: var(--dark-blue);
  border: none;
}

.error-message {
  color: var(--primary-orange);
  font-size: 0.9em;
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: height 0.5s ease;
}

.error-message.active {
  height: 2.4rem;
}

.is-invalid {
  border-color: var(--primary-orange);
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 30;
  gap: 0.5rem;
}

.hamburger div {
  width: 2rem;
  height: 3px;
  background-color: var(--primary-orange);
  transition: all 0.3s ease-in-out;
}

.hamburger.active div:first-child {
  transform: translateY(0.5rem) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:last-child {
  transform: translateY(-0.8rem) rotate(135deg);
}

.mobile-menu {
  visibility: hidden;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.mobile-menu.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu_modal {
  width: 70%;
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 0;
  bottom: 0;
  padding: 10rem 3rem;
  transform: translateX(110%);
  transition: transform 0.5s ease;
}

.mobile-menu.active .mobile-menu_modal {
  transform: translateX(0);
}

.mobile-menu_modal ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.6rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  background-color: var(--primary-grey);
  border-radius: 20px;
}

.project-detail_image-container {
  position: relative;
  width: 100%;
}

.project-detail_image-container img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 10;
}

.project-detail_content {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.project-detail_title {
  color: var(--primary-orange);
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}

.project-detail_buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-detail_skills-section {
  padding: 2rem 1rem;
}

.skills-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem 1rem;
}

.skill-item {
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.skill-item img {
  width: 24px;
  height: 24px;
}

.skill-item p {
  font-size: 0.8rem;
}

.skill-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.skill-detail_name {
  font-size: 1.1rem;
  font-weight: 500;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.05);
}

.socials-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.aboutme-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-grey);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.aboutme-section_title {
  color: var(--primary-orange);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.aboutme-section_content {
  line-height: 1.5;
}

.contact-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}

.contact-section_title.title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.header {
  padding: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  max-width: 600px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_buttons {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero h1 {
  margin: 0 0 20px;
}

.hero p {
  color: var(--secondary-text);
  font-weight: 200;
  font-size: 1.2em;
  margin: 0 0 20px;
}

.project-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.project-section_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-section_content {
  margin-bottom: 2rem;
  line-height: 1.5;
  max-width: 450px;
  color: var(--secondary-text);
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-grey);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.skills-section_title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.skills-section_content {
  color: var(--secondary-text);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.skills-section_skill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 3rem;
}

.box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 2.5rem;
  color: var(--primary-orange);
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
