:root {
	--primary-text: #fff;
	--secondary-text: #C5C5C5;
	--primary-blue: #343d6c;
	--secondary-blue: #272c50;
	--primary-grey: #2A2A2A;
	--primary-dark-blue: #161A31;
	--secondary-dark-blue: #030915;
}