{% load static %}

<ul class="socials-bar">
    <li>
        <a href="https://www.linkedin.com/in/godsalljake/">
            <img
                src="{% static 'portfolio/svgs/linkedin.svg' %}"
                alt="linkedin"
                width="75"
                height="75"
            />
        </a>
    </li>
    <li>
        <a href="https://github.com/jakegodsall">
            <img
                src="{% static 'portfolio/svgs/github.svg' %}"
                alt="github"
                width="60"
                height="60"
            />
        </a>
    </li>
</ul>