.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 100%;
}

.contact-section_title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-section_description {
  margin-bottom: 2rem;
}

@media screen and (min-width: 680px) {
  .contact-section {
    max-width: 700px;
    margin-bottom: 2rem;
  }


  .contact-section_title {
    font-size: 36px;
  }
}

@media screen and (min-width: 900px) {
  .contact-section_title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .contact-section_description {
    font-size: 26px;
    margin-bottom: 30px;
  }
}