.project-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 1rem;
	margin-bottom: 8rem;

	background-color: var(--secondary-dark-blue);
}

.project-section_title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	padding-inline: 2rem;
}

.project-section_content {
	margin-bottom: 2rem;
	line-height: 1.5;
	max-width: 450px;
	color: var(--secondary-text);
	font-weight: 300;
	padding-inline: 2rem;
}

.project-section_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;
	margin-inline: 0.4rem;
}

.project-section_list > li {
	width: 100%;
}

.button-bar {
	display: none;
}

@media screen and (min-width: 680px) {
	.project-section {
		max-width: 700px;
		align-items: flex-start;
		text-align: left;
	}

	.project-section_title {
		font-size: 36px;
		font-weight: bold;
	}

	.project-section_content {
		font-size: 18px;
		font-weight: 300;
		max-width: none;
	}

	.project-section_list {
		width: 100%;
	}
}


@media screen and (min-width: 900px) {
	.project-section {
		width: 100%;
		max-width: 1200px;
	}

	.project-section_title {
		font-size: 48px;
		padding-inline: 0;
	}

	.project-section_content {
		font-size: 24px;
		padding-inline: 0;
	}

	.carousel-wrapper {
		width: 100%;
		overflow: hidden;
		margin-bottom: 2rem;
	}

	.project-section_list.carousel {
		width: 100%;
		flex-direction: row;
		gap: 20px;
		align-items: stretch;
		justify-content: space-between;
		margin: 0;
		flex-wrap: nowrap;

		transition: all 0.5s ease-in-out;
	}


	.project-section_list.carousel > li {
		display: flex;
		flex: 0 0 386.67px;
	}

	.button-bar {
		align-self: center;
		display: flex;
		gap: 1rem;
	}

	.prev-btn, .next-btn {
		background-color: inherit;
		padding: 1rem 2rem;
		border-radius: 20px;
		border: 2px solid var(--secondary-blue);
		color: white;
		cursor: pointer;
		font-size: 16px;

		transition: all 0.2s ease-in-out;
	}

	.prev-btn:hover, .next-btn:hover {
		border: 2px solid var(--primary-blue);
	}

	.prev-btn:active, .next-btn:active {
		transform: translateY(5px);
	}

	.prev-btn.inactive, .next-btn.inactive {
		color: #606060;
	}

	.prev-btn.inactive:hover, .next-btn.inactive:hover {
		border: 2px solid var(--secondary-blue);
		cursor: not-allowed;
	}
}